    .banner-section {}
    
    .inner-banner-section {}
    
    .inner-banner-section h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 35px;
    }
    
    .inner-banner-section p {
        width: 85%;
        margin-bottom: 35px;
    }