 .joinBtn {
        background-color: var(--cstm-third-C);
    }
    .joinBtn {
        background-color: var(--cstm-third-C);
}
    .inner-banner-section h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 700;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 35px;
    }

    .inner-banner-section p {
        width: 85%;
        margin-bottom: 35px;
    }

    .banner-section-two h3 {
        text-align: center;
        margin: 15px 0px 0px;
        font-size: 18px;
        font-weight: 600;
    }

    .inner-banner-section-two {
        padding: 25px 45px;
        background-color: #fff;
        color: var(--cstm-primiry-C);
        border-radius: 15px;
    }

    .inner-banner-section-two:hover {
        background-color: var(--cstm-primiry-C);
        color: #fff;
    }

    .cust-card-background {
        padding: 20px;
        background-color: #f7f8fa;
        border-radius: 10px;
    }

    .cust-card-background h4 {
        text-align: center;
        padding: 20px 0px;
        font-weight: 700;
        color: var(--cstm-primiry-C);
        font-size: 1.5rem;
    }

    .tags-section {
        text-align: center;
    }

    .inner-tag-div {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 30px;
        margin-left: 3px;
        margin-top: 10px;
        text-align: center;
    }

    .inner-tag-icon {
        color: var(--cstm-third-C);
        margin-right: 10px;
    }
    
    .cutm-carousel-section {
        background-color: #f4f4f4;
        width: 100%;
        padding: 80px;
    }
    
    .cutm-carousel-section h2 {
        font-size: 2rem;
        color: #3f3f3f;
        font-weight: 700;
    }
    
    .carousel-heading {
        font-size: 1.3rem;
        margin: 15px 0px;
        font-weight: 700;
        color: #3f3f3f;
    }
    
    .carousel-heading-two {
        font-size: .875em;
        font-weight: 500;
    }
    
    .custm-card-shdw {
        box-shadow: 0 4px 20px #0000001a;
        border-radius: 15px;
    }
