.cstm-primiry-TC {
  color: #3f3f3f;
}

.cstm-secondary-TC {
  color: #ff284f;
}

.cstm-third-TC {
  color: #45c881;
}

.cstm-primiry-BgC {
  color: #3f3f3f;
}

.cstm-secondary-BgC {
  color: #ff284f;
}

.cstm-third-BgC {
  color: #45c881;
}